<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet back-button" href="#">
          <span class="topcoat-icon topcoat-icon--back"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Dealer</h1>
    </div>
</div>

<div class='details'>
    <h1 id='dealerId'><%= id %></h1>
    <h1><%= name %></h1>
    <h2><%= city %></h2>
    <h2><%= officePhone %></h2>

    <div class="topcoat-button-bar">
        <div class="topcoat-button-bar__item">
            <button id="dealer-checkin" class="topcoat-button-bar__button">Select dealer</button>
        </div>
        <div class="topcoat-button-bar__item">
            <button id="show-cars" class="topcoat-button-bar__button">Show cars</button>
        </div>
    </div>
</div>
